<div class="coin">
    <div class="coin-img">
        <img src={{crypto.imageUrl}}>
    </div>
    <div class="coin-info">
        <h1>{{crypto.name}}</h1>
        <p><span>Price: </span>{{crypto.price}}</p>
        <p><span>Payment: </span>{{crypto.payment}}</p>
    </div>

    <a href=/details/{{crypto._id}} class="btn-details">Details</a>
</div>